@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
body{
	background: white;
	font-family: 'Poppins', sans-serif;
}
.form-inline {
	display: inline-block;
}
.navbar-header.col {
	padding: 0 !important;
}	
.navbar {		
	background-color: rgba(222,243,246,1);
	padding-left: 16px;
	padding-right: 16px;
	border-bottom: 1px solid #d6d6d6;
	box-shadow: 0 0 4px rgba(0,0,0,.1);
}
.nav-link {
	margin: 0 5px;
}
.nav-link img {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	margin: -8px 0;
	float: left;
	margin-right: 10px;
}
.navbar .navbar-brand {
	color: black;
	padding-left: 0;
	font-size: 20px;
	padding-right: 50px;
	font-family: 'Raleway', sans-serif;
}
.navbar .navbar-brand b {
	font-weight: bold;
	color: #1da2d8;
}
.navbar .navbar-nav a:hover, .navbar .navbar-nav a:focus {
	color: #1da2d8!important;
}
.navbar .navbar-nav a.active, .navbar .navbar-nav a.active:hover {
	color:  #1da2d8 !important;
	background: transparent !important;
}
.search-box {
	position: relative;
}	
.search-box input.form-control {		
	padding-right: 35px;
	border-radius: 20px;
	padding-left: 0;
	border-width: 0 0 1px 0;
	box-shadow: none;
}
.search-box input.form-control:focus {		
	border-color: 	#1da2d8;		
}
.search-box .input-group-text {
	min-width: 35px;
	border: none;
	background: transparent;
	position: absolute;
	right: 0;
	z-index: 9;
	padding: 7px 0 7px 7px;
	height: 100%;
}
.search-box i {
	color: black;
	font-size: 19px;
}
.navbar .nav-item i {
	font-size: 18px;
}
.navbar .dropdown-item i {
	font-size: 16px;
	min-width: 22px;
}
.navbar .nav-item.show > a {
	background: none !important;
}
.navbar .dropdown-menu {
	border-radius: 1px;
	border-color: #e5e5e5;
	box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .dropdown-menu a {
	color: black;
	padding: 8px 20px;
	line-height: normal;
	font-size: 15px;
}
.navbar .navbar-form {
	margin-right: 0;
	margin-left: 0;
	border: 0;
}
@media (min-width: 992px){
	.form-inline .input-group {
		width: 250px;
		margin-right: 30px;
	}
}
@media (max-width: 991px){
	.form-inline {
		display: block;
		margin-bottom: 10px;
		margin-top: 0;
	}
	.input-group {
		width: 100%;
	}
}
	/* text reset footer*/
.text-reset {
	text-decoration: none;
}
.text-reset:hover {
	text-decoration: none;
}
	/* link in accordion*/
.accordion-body a {
	text-decoration: none;
}

.showHide { display: block; }

@media screen and (min-width: 992px) and (max-width: 1130px) {
  .showHide  { display: none; }
}

.modal {
	background-color: rgba(127,205,255, 50%);
}

/* banner */
.banner{
	position: relative;
    background-color: rgba(222,243,246,1);
	font-size: calc(1.5rem + 1vw);
}

.banner::before {
	background-position-y: 10rem;
}


.banner2 {
	position: relative;
	background-color: rgba(127,205,255,.5);
	font-size: calc(1.5rem + 1vw);
}

.banner2::before {
	background-position: center;
	background-position-y: -25rem;
}

.banner3 {
	position: relative;
	background-color: rgba(29,162,216,.3);
	font-size: calc(1.5rem + 1vw);
}

.banner3::before {
	background-position: top;
	background-position-y: -10rem;
}

.banner::before, .banner2::before, .banner3::before {
	content: "";
	background-image: url(/media/melWaveBg1.png);
	background-size: cover;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.7;
}

.flip {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

.btn {
	width: 8rem;
}

.ms-7 {
	margin-left: 10vw;
}

/* Awards */
.awards {
	background-color: rgba(222,243,246,.4);
}

.rfs {
	font-size: calc(1.5rem + 1vw);
}

.rfs-2 {
	font-size: calc(1rem + 1vw);
}

/* Achievement Counter */
#counter {
	background-color: rgba(127,205,255,.5);
	font-size: calc(1.5rem + 1vw);
}

.icons {
	width: 1.25rem;
}

.fs-10 {
	font-size: calc(0.05rem + 1vw)
};

