@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
*{
	font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1000px;
    padding: 20px;
    margin: auto;
}
h1 {
    font-size: 2.4em;
    font-weight: bold;
    text-align: center;
}
.image-hotspot{
    max-width: 550px;
    margin: 50px auto 0 auto;
    position: relative;
}
.image-hotspot img{
    max-width: 100%;
    box-shadow: 0 0 14px 0 rgb (0,0,0, 50%);
}
.icon{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 3px solid #fff;
    background: 	#1da2d8;
    cursor: pointer;
}
.icon::after{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%)scale(1,1);
    pointer-events: none;
    content: "";
    display: block;
    width:26.4px;
    height: 26.4px;
    border-radius: 100px;
   
}


.item{
    position: absolute;
    transform: translate(-50%,-50%);
}
.tooltip{
    position: absolute;
    padding: 5px;
    width: 13em;
    height: 3em;
    background-color: #fff;
    color: #1da2d8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    line-height: 1em;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.1s linear ;
    border-end-end-radius: 20px;
    border-top-left-radius: 20px;
}
.item:hover .tooltip{
    opacity: 1;
}

.tooltip h3{
    font-size: 20px;
}
.ODD .tooltip{
    left:calc(50% - 6.5em) ;
    top: 25px;
}
.power .tooltip{
    left:calc(50% - 6.5em) ;
    top: 25px;
}
.audio .tooltip{
    left:calc(50% - 6.5em) ;
    top: 25px;
}
.USB .tooltip{
    left:calc(50% - 6.5em) ;
    top: 25px;
}




